@model IEnumerable<AsyncInn.Models.HotelRoom>

@{
    ViewData["Title"] = "Index";

    Layout = "_Layout";
}
<link href="~/StyleSheet.css" rel="stylesheet" />
<h1>HotelRoom  Table</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Index">Home</a>
</p>
<table class="table table-dark">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotels.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.ID)
            </td>
            <td>
                <!-- @Html.ActionLink("Edit", "Edit", new { item.HotelID, item.RoomID }) -->
                @Html.ActionLink("Details", "Details", new { item.HotelID, item.RoomID }) |
                @Html.ActionLink("Delete", "Delete", new { item.HotelID, item.RoomID })
            </td>
        </tr>
}
    </tbody>
</table>
