@model IEnumerable<AsyncInn.Models.Hotel>

@{
    ViewData["Title"] = "Index";

    Layout = "_Layout";
}

<link href="~/StyleSheet.css" rel="stylesheet" />
<h1>Hotel  Table</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Hotel" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    <a asp-controller="Home" asp-action="Index">Home</a>
</p>
<table class="table table-dark">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary"><a asp-action="Edit" asp-route-id="@item.ID">Edit</a></button>
                    <button type="button" class="btn btn-outline-success"><a asp-action="Details" asp-route-id="@item.ID">Details</a></button>
                    <button type="button" class="btn btn-outline-danger"><a asp-action="Delete" asp-route-id="@item.ID">Delete</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
