@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";

    Layout = "_Layout";
}
<link href="~/StyleSheet.css" rel="stylesheet" />
<h1>RoomAmenities  Table</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Index">Home</a>
</p>
<table class="table table-dark">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amenity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amenity.ID)
            </td>
            <td>
                <!-- @Html.ActionLink("Edit", "Edit", new { item.RoomID, item.AmenitiesID }) -->
                    @Html.ActionLink("Details", "Details", new { item.RoomID, item.AmenitiesID })
                    @Html.ActionLink("Delete", "Delete", new { item.RoomID, item.AmenitiesID })
                </td>
            </tr>
    }
        </tbody>
    </table>
